@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-bg-main: #F4F2F2;
  --color-text-main: #1D2128;
  --color-primary: #215E61;
  --color-accent: #FF9E20;
  --color-danger: #DC2626;
  --color-success: #15803D;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-sans), sans-serif;
}
